@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url('catppuccin.css');

body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color-scheme: dark;
    color: var(--ctp-mocha-text);
}

:root{
    --accent-color: var(--ctp-mocha-blue)
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    min-height: 100svh;
    width: 100vw;
    max-width: 100%;

    background-image: url('images/icons.png');
    background-repeat: repeat;
    background-color: var(--ctp-mocha-crust);
    background-blend-mode: overlay;
    background-size: 16em;
    background-position: center;
    background-attachment: fixed;
}

.padding{
    padding: 2em;
}

.padding-block{
    padding-block: 2em;
    padding-inline: 1em;
}

.padding-inline{
    padding-block: 1em;
    padding-inline: 2em;
}

.margin-block{
    margin-block: 1em;
}

.margin-inline{
    margin-inline: 1em;
}

.spacer-block{
    margin-block: 0.5em;
}

.icon-pfp{
    width: 10em;
    height: 10em;
    background-image: url('images/ignis_dropshadow.png');
    background-size: cover;
    transform: translateY(-5em);
    margin-bottom: -3.5em;
}

.title-section{
    margin-top: 5em !important;
}

.centered-text{
    text-align: center;
}

.links-container{
    display: flex;
    flex-direction: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    width: 100%;
    max-width: 40em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Smaller gap on mobile */
@media only screen and (max-width: 600px) {
    .links-container {
      gap: 0.5em;
    }
  }

.link{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 2em;

}

.link, .link:hover{
    transition: color 0.2s ease-out, 
    background-color 0.2s ease-out, 
    border-radius 0.2s ease-out;
}


.link-primary{
    background-color: var(--ctp-mocha-crust);
    color: var(--ctp-mocha-text);
}

.link-primary:hover{
    background-color: var(--accent-color);
    color: var(--ctp-mocha-crust);
    border-radius: 1em;
}

.link-secondary{
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
    border-radius: 2em;
}

.link-secondary:hover{
    background-color: var(--ctp-mocha-mantle);
    color: var();
}

.links-container > a {
    color: var(--ctp-mocha-text);
    text-decoration: none;
}

.section{
    background-color: var(--ctp-mocha-base);
    max-width: 40em;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadow{
    box-shadow: 0 0 1em var(--ctp-mocha-crust);
}

.round-corners{
    border-radius: 1em;
}

.outline{
    outline: var(--ctp-mocha-overlay1) solid 0.1em;
    
}

p, h1, h2, h3, h4{
    width: 100%;
}

h1{
    font-size: 1.8em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1.4em;
}

h4{
    font-size: 1.3em;
}

h5{
    font-size: 1.2em;
}

h6{
    font-size: 1em;
}
